<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.charles.supershot">

    <application
        android:name=".app.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.JoinPersonalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.ServiceAgreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.JoinConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.SyncInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.JoinCompanyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.JoinCompanyConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.CompanyDupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.SyncGameInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.GameTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>